body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
header, footer{
  background-color: #369;
}

.site-title {
  color: rgb(252, 206, 150);

}

#my-image {
  box-shadow: 0px 0px 2px 1px black;
  
}

ul {
  list-style-type: square;
}

li:nth-child(odd) {
  background-color: rgb(64, 240, 134);
}

a:link {
  text-decoration: none;
  background-color: #47fd47;
  border: #faaf59;
}

.notes-link:hover{
  cursor: pointer;
  color:rgb(255, 255, 43);

}

